.navBar{
    height: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(170, 170, 170);
}

.navBar ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.navBar li{
    float: left;
}

.navBar li a{
    display: block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    margin: 8px;
    text-decoration: none;
    background-color: rgb(94, 94, 94);
}

.navBar li a:hover{
    background-color: lightgray;
}
.heroSection{
    background-color: navy;
    color: white;
    text-align: center;
    width: 1200px;
    height: auto;
    margin: auto;
}

.heroSection img{
    max-width: 100%;
    height: auto;
}

.teamsPageHeader, .playersPageHeader, .randomPageHeader, .contactPageHeader{
    background-color: navy;
    color: white;
    text-align: center;
    width: 1200px;
    height: 150px;
    margin: auto;
}

.indexContent, .teamsContent, .playersContent, .randomContent, .contactContent{
    background-color: maroon;
    color: white;
    text-align: center;
    width: 1200px;
    height: 400px;
    margin: auto;
}